/**
 * @file
 * Styling for the main menu at narrow widths.
 */

@container (width <= 1180px) {
  /* <ul> menu elements. */
  .primary-menu {
    margin: 0;
    padding: 0;
    color: var(--theme-text-color-soft);
  }

  /* Top level <ul> menu element. */
  .primary-menu__list--level-1 {
    margin-block: 0 2rem;
    margin-inline: 0;
  }

  /* Second level <ul> menu element. */
  .primary-menu__list--level-2 {
    display: none;
    flex-basis: 100%;
    margin: 0 calc(-1 * var(--site-header-flyout-padding));
    padding-block: var(--sp2);
    padding-inline: var(--site-header-flyout-padding);
    background-color: var(--dropdown-background);
    border-inline-start: solid var(--dropdown-border-width) var(--dropdown-border-color);
    box-shadow: 200px 0 0 var(--dropdown-background), -200px 0 0 var(--dropdown-background);;
    font-family: var(--font-sans);
    font-size: var(--body-s-size);

    &.is-active-menu-parent {
      display: block;
    }

    > svg {
      display: none;
    }
  }

  .primary-menu__list--level-3 {
    margin: 0;
    padding-inline-start: 16px;
  }

  /* Menu item <li>. */
  .primary-menu__list-item {
    display: flex;
    list-style: none;
  }

  .primary-menu__list-item--level-1 {
    font-size: var(--body-l-size);

    &.primary-menu__list-item--has-children {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .primary-menu__list-item--level-2 {
    flex-direction: column;
  }

  /* Link element (can be <a>, <button>, or <span>). */
  .primary-menu__link {
    flex-grow: 1;
    padding: 0.5rem 0;
    text-decoration: none;
  }

  .primary-menu__link--level-1[class] {
    color: var(--top-level-link-color);

    &:hover {
      color: var(--top-level-link-color-hover);
    }

    &:has( + .primary-menu__button-toggle) {
      flex-basis: calc(100% - 60px); /* Toggle button is 50px wide, then we add some space. */
    }
  }

  .primary-menu__link--level-2,
  .primary-menu__link--level-3 {
    font-size: 18px;

    &:hover {
      color: var(--dropdown-link-color-hover);
    }
  }

  .primary-menu__link--nolink {
    text-transform: uppercase;
    font-size: 14px;
  }

  /* <button> element that is created when <a> link elements have submenus. */
  .primary-menu__button-toggle {
    width: 50px;
    align-self: stretch;
    padding: 0;
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;
  }

  /* Toggle icon that appears within both parent <button> elements, and
     <button> elements that get generated next to parent <a> links. */
  .primary-menu__button-icon {
    --icon-size: 0.5lh;
    --icon-line-width: 2px;
    --icon-color: var(--top-level-link-color);

    position: relative; /* Anchor icon. */
    display: block;
    margin-inline-start: auto;
    width: var(--icon-size);
    height: var(--icon-size);

    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 0;
      content: "";
      border-top: solid var(--icon-line-width) var(--icon-color);
      inset-block-start: calc(50% - var(--icon-line-width) / 2);
      inset-inline-start: 0;
    }

    &::after {
      transition: opacity 0.2s;
      transform: rotate(90deg);
    }

    /* Turn the plus icon into a minus when parent button is expanded. */
    [aria-expanded="true"] &::after {
      opacity: 0;
    }
  }

  /* Menu links that are <button> elements. */
  .primary-menu__link--button {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    text-align: start;
    border: 0;
    background: transparent;
    appearance: none;

    &.primary-menu__link--has-children {
      justify-content: space-between;
      padding-inline-end: 0; /* Align icon. */
    }
  }

  .primary-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    color: black;
    background-color: currentColor;
  }
}
